<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>FacebookLogin\FacebookLogin</fullnamespace>
    <descriptive locale="en_US">
        <title>Facebook connector</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Connecteur facebook</title>
    </descriptive>
    <version>0.0.1</version>
    <author>
        <name>Cascales Arthur</name>
        <email>arthur@getup.agency</email>
    </author>
    <type>classic</type>
    <thelia>2.2.0</thelia>
    <stability>alpha</stability>
</module>
