<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <hooks>
        <hook id="single.cart.product" class="SingleCartProduct\Hook\RenderHook">
            <tag name="hook.event_listener" active="1" event="main.after-javascript-include" type="front" method="renderJsLayout" />
        </hook> 
    </hooks>

    <services>
        <service id="single.cart.listener" class="SingleCartProduct\EventListeners\ListenerManager" scope="request">
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

</config>
