<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <hooks>
        <hook id="redcateditor.hook.menu" class="RedcatEditor\Hook\RedHook">
            <tag name="hook.event_listener" active="1" event="main.in-top-menu-items" type="back" method="renderMenuItem" />
            <tag name="hook.event_listener" active="1" event="main.after-javascript-include" type="front" method="renderScriptLayout" />
        </hook>
        
    </hooks>
</config>
