{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'redcateditor'}
{/block}

{block name="page-title"}Editeur Redcat{/block}

{block name="after-admin-css"}
    {stylesheets file="assets/css/editor.css" source="RedcatEditor"}
        <link rel="stylesheet" href="{$asset_url}"  />
    {/stylesheets}
{/block}

{block name="main-content"}

    <div id="wrapper" class="container">

        <ul class="breadcrumb">
            <li><a href="{url path='/admin/home'}">Home</a></li>
            <li><a href="{url path='/admin/redcateditor'}">Editeur</a></li>
        </ul>

        <div class="general-block-decorator">
            <div class="title title-without-tabs">
                Editeur JS
            </div>

            <pre id="ace_editor" style="opacity:0;min-height: 500px;"></pre>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" id="saveContent" class="btn btn-success">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="javascript-initialization"}
<script>
     routeUrlSave="{url path='/admin/redcat/save'}";
     routeUrlRead="{url path='/admin/redcat/read'}";
</script>
    {javascripts file="assets/js/ace.js" source="RedcatEditor"}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file="assets/js/worker-javascript.js" source="RedcatEditor"}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file="assets/js/ext-static_highlight.js" source="RedcatEditor"}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file="assets/js/theme-monokai.js" source="RedcatEditor"}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file="assets/js/ext-language_tools.js" source="RedcatEditor"}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file="assets/js/snippets/javascript.js" source="RedcatEditor"}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file="assets/js/ext-emmet.js" source="RedcatEditor"}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file="assets/js/mode-javascript.js" source="RedcatEditor"}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file="assets/js/editor.js" source="RedcatEditor"}
        <script src="{$asset_url}"></script>
    {/javascripts}

{/block}

{block name="javascript-last-call"}
{/block}